.idea
.venv
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coverage.*
.cache
.DS_Store
docs/build/
docs/html
dist
*.egg-info/
.installed.cfg
*.egg
eggs/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
